In [ ]:
# (i) String, (ii) List, (iii) Float, (iv) Tuple
my_string = "Hello, Python!"
my_list = [1, 2, 3, "Gemini", 4.5]
my_float = 3.14159
my_tuple = (10, 20, 30)

In [ ]:
Here is the classification for the variables provided:

(i) var1 = ‘ ‘: str (String) - Even a single space inside quotes is a string.

(ii) var2 = ‘[ DS , ML , Python]’: str (String) - Because it is wrapped in quotes, it is treated as text, not a list.

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]: list (List).

(iv) var4 = 1.: float (Float) - Adding a decimal point after an integer automatically converts it to a float in Python.

In [ ]:
Operator,Name,Description,Example
/,Division,Returns the quotient as a float.,10 / 4 → 2.5
%,Modulo,Returns the remainder of the division.,10 % 3 → 1
//,Floor Division,Returns the quotient as an integer (rounds down).,10 // 4 → 2
**,Exponentiation,Calculates the power of a number.,2 ** 3 → 8

In [ ]:
my_list = [10, "Apple", 3.14, True, [1, 2], (5, 6), None, 99, "AI", 7.0]

for element in my_list:
    print(f"Element: {element} | Type: {type(element)}")

In [ ]:
A = 100
B = 5
count = 0
temp_A = A

if A % B == 0:
    while temp_A % B == 0 and temp_A != 0:
        temp_A = temp_A / B
        count += 1
    print(f"{A} is divisible by {B} and can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

In [ ]:
numbers = list(range(1, 26)) # List from 1 to 25

for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is NOT divisible by 3")

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 100  # This works! The list is now [100, 2, 3]